@import "src/styles/settings/colors";
@import "src/styles/settings/fonts";
@import "src/styles/tools/mixins";
@import "node_modules/reflex-grid/scss/includes/variables";

.starship-comparer {
    display: flex;
    flex-direction: column;
    padding-bottom: 150px;
    width: 100%;

    @include mediaQueryMax($reflex-xs) {
        padding: 0 15px 150px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__clear-all {
        font-size: $font-size-15;

        @include mediaQueryMin($reflex-xs) {
            font-size: $font-size-18;
            cursor: pointer;
        }
    }

    &__box-container {
        display: grid;
        margin: auto;
        grid-template-columns: repeat(1, 100%);
        row-gap: 10px;

        @include mediaQueryMin($reflex-sm) {
            grid-template-columns: repeat(2, max-content);
            column-gap: 30px;
            row-gap: 30px;
        }

        @include mediaQueryMin($reflex-lg) {
            grid-template-columns: repeat(3, max-content);
            column-gap: 30px;
            row-gap: 30px;
        }

        @include mediaQueryMin($reflex-xlg) {
            grid-template-columns: repeat(4, max-content);
        }
    }

    &__no-data {
        font-size: $font-size-15;

        @include mediaQueryMin($reflex-xs) {
            font-size: $font-size-18;
        }
    }
}
