<div class="l-container">
    <div class="l-grid">

        <div class="starship-comparer">

            <div class="starship-comparer__header">
                <div class="b-title__starship">
                    Starship Comparer
                </div>

                <div class="starship-comparer__clear-all" (click)="removeAllStarship()">Clear all</div>
            </div>

            <div *ngIf="starships.length; else noItemToCompare" class="starship-comparer__box-container">
                <ng-container *ngFor="let starship of starships">
                    <app-compared-item [starship]="starship"
                                       [isBestPrice]="starship.cost_in_credits == bestPrice"
                                       [isTheLongest]="starship.length == bestLength"
                                       [isTheBestCapacity]="starship.cargo_capacity == bestCargoCapacity"
                                       [isTheFastest]="starship.max_atmosphering_speed == bestMaxSpeed"
                                       [isTheBestMGLT]="starship.MGLT == bestMGLTValue">
                    </app-compared-item>
                </ng-container>
            </div>

            <ng-template #noItemToCompare>
                <div class="starship-comparer__no-data">
                    No starships to compare
                </div>
            </ng-template>

        </div>

    </div>
</div>
