<div class="l-container">
    <div class="l-grid">

        <div class="starships">
            <div class="b-title__starship">
                Starship List
            </div>

            <div class="mat-elevation-z8 u-w-100">
                <table mat-table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                            Name
                        </th>
                        <td mat-cell *matCellDef="let starship">{{starship.name}}</td>
                    </ng-container>

                    <ng-container matColumnDef="model">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by model">
                            Model
                        </th>
                        <td mat-cell *matCellDef="let starship">{{starship.model}}</td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>Actions</th>
                        <td mat-cell *matCellDef="let starship">
                            <div class="u-cursor-pointer" [routerLink]="['details']"
                                 [queryParams]="{url: starship.url}">
                                See details
                            </div>
                            <div class="u-cursor-pointer" (click)="addToCompare(starship)">
                                Add to compare
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let starship; columns: displayedColumns"></tr>

                </table>

                <mat-paginator [length]="starshipsResult.count" (page)="onPageChange($event)"
                               [pageSizeOptions]="[10]" hidePageSize>
                </mat-paginator>
            </div>
        </div>
    </div>
</div>

<app-starship-comparer></app-starship-comparer>
