/* You can add global styles to this file, and also import other style files */

@import "~node_modules/reflex-grid/scss/includes/variables";
@import "settings/settings";
@import "~node_modules/reflex-grid/scss/reflex.scss";

@import "global/global";
@import "tools/tools";
@import "utilities/utilities";

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
